@import "./styles/reset";
@import "./styles/variables";
@import "./styles/typo";

@import "../src/components/Header/Header";
@import "../src/components/Form/Form";
@import "../src/components/Input/Input";

body {
  font-family: "Gudea", sans-serif;
  font-size: 18px;
  color: $colorfont;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 247, 244, 1) 40%,
    rgba(203, 210, 185, 1) 100%
  );
}
