@import "./styles/reset";
@import "./styles/variables";
@import "./styles/typo";

@import "../src/components/Header/Header";
@import "../src/components/Form/Form";
@import "../src/components/Input/Input";
@import "../src/components/EmployeesList/EmployeesList";
@import "../src/components/Modal/Modal";
@import "../src/components/HeaderTable/HeaderTable.scss";
@import "../src/components/FooterTable/FooterTable.scss";

body {
  font-family: "Gudea", sans-serif;
  font-size: 18px;
  color: $colorfont;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    126deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(245, 247, 244, 1) 40%,
    rgba(203, 210, 185, 1) 100%
  );
  min-height: 100vh;
}

h1 {
  font-family: $fonttitle;
  font-weight: 800;
  font-size: 3rem;
  color: $colorprimary;
  margin-right: 5rem;
}

h2 {
  font-family: $fonttitle;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.btn {
  border: none;
  background-color: $colorprimary;
  padding: 1rem;
  border-radius: 10px;
  color: $colorbg;
  margin: 1rem;
  box-shadow: 2px 2px 15px 1px rgba(0, 0, 0, 0.61);
}

main {
  margin-bottom: 4rem;
}

.employee {
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translate(-50%);
}

.center {
  text-align: center;
}
